<div fxLayout="column" class="app-content">
  <mat-toolbar color="primary" fxFlex="none">
    <mat-toolbar-row>
      <button
        mat-icon-button
        fxHide
        [fxShow.xs]="true"
        fxFlex="none"
        (click)="sidebar.toggle()"
        class="show-menu"
      >
        <mat-icon> {{ sidebar.opened ? 'close' : 'menu' }} </mat-icon>
      </button>
      <a mat-button routelink="/" class="logo">
        <img src="assets/images/angular.svg" />Angular
      </a>

      <app-menu
        *ngIf="leftMenu != null && leftMenu.length > 0"
        [menus]="leftMenu"
        color="primary-reverse"
        [fxHide.xs]="true"
        fxFlex="none"
        fxLayout
        fxLayoutGap="20px"
      ></app-menu>
      <div class="occupy-empty" fxFlex="grow"></div>
      <app-menu
        *ngIf="rightMenu != null && rightMenu.length > 0"
        [menus]="rightMenu"
        color="primary-reverse"
        [fxHide.xs]="true"
        fxFlex="none"
        fxLayout
        fxLayoutGap="20px"
      ></app-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex="grow">
    <mat-sidenav
      mode="over"
      #sidebar
      fxHide
      [fxHide.xs]="false"
      fxLayout="column"
      class="column-menu"
    >
      <app-menu
        *ngIf="leftMenu != null && leftMenu.length > 0"
        [menus]="leftMenu"
        color="primary"
        fxFlex="none"
        fxLayout="column"
        fxLayoutGap="20px"
      ></app-menu>
      <app-menu
        *ngIf="rightMenu != null && rightMenu.length > 0"
        color="primary"
        [menus]="rightMenu"
        fxFlex="none"
        fxLayout="column"
        fxLayoutGap="20px"
      ></app-menu>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
