.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content.signed {
  top: 64px;
}

.app-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: hidden;
  .mat-toolbar {
    .show-menu {
      margin-left: -8px;
    }
    a.mat-button.logo {
      padding: 0 8px 0 0;
      font-size: 1.5rem;
      flex-shrink: 0;
      img {
        height: 36px;
      }
    }
    z-index: 1000;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
  .mat-sidenav {
    &.column-menu {
      padding: 15px;
    }
  }
  &.container {
    .mat-drawer-container.mat-sidenav-container {
      overflow: visible;
      .mat-sidenav {
        left: -10vw;
      }
      .mat-drawer-content.mat-sidenav-content {
        overflow: visible;
      }
    }
  }
}
