/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

.app-content.container {
  .mat-drawer-container.mat-sidenav-container {
    .mat-drawer-backdrop {
      right: -10vw;
    }
  }
}

.container {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}
